
td.docs {
}
td.docs, th.docs {
    display: block;
    width: 350px;
    padding: 0;
    margin: 0 1em 0 0;
}
td.code, th.code {
    border: 0;
    background: none;
    padding: 0;
}

.octothorpe {
    color: #FFFFFF;
}

pre {
    line-height: 2em;
    font-size: 0.8em;
    opacity: 0.9;
    padding: 0.5em !important;
    margin: 0 !important;
}

#background {
    border: 0;
    background: none;
}

.code pre, .docs p code {
    max-width: 626px;
    background-color: transparent;
}

pre, td.code {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.8);
}

#documentation {
    font-size: 0.9em;
}


/*
 * Fonts
 */

@font-face {
    font-family: 'AllerLightRegular';
    src: url('aller_lt-webfont.eot');
    src: url('aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_lt-webfont.woff') format('woff'),
         url('aller_lt-webfont.ttf') format('truetype'),
         url('aller_lt-webfont.svg#AllerLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('League_Gothic-webfont.woff') format('woff'),
         url('League_Gothic-webfont.ttf') format('truetype'),
         url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
 * Base
 */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #74C2E1;
    line-height: 15px;
    font-size: 15px;
    font-family: 'AllerLightRegular', Arial, sans-serif;
    width: 960px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0.5em;
    font-weight: normal;
    font-family:'LeagueGothicRegular',Impact,Charcoal,sans-serif;
}

h2, h3, h4, h5 {
    margin-top: 0.5em;
}

h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

h2 {
    font-size: 2em;
}

a {
    color: white;
}

ul {
    margin-left: 2em;
}

p {
    line-height: 1.2em;
    margin: 0.5em 0;
}

/*
 * Skeleton
 */

#container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    top: 55px;
}

#content {
    color: #FFFFFF;
    padding: 1em;
    background: #226699;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    text-shadow: 1px 1px 5px #000000;
}

#plone-toolbar,
#swirl-toolbar {
    height: 46px;
    width: 960px;
    background: transparent;
    position: fixed;
    z-index: 9999;
}


.section {
    margin: 2em 0;
}

.demo {
    color: #0191C8;
}

h1 span.demo {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.center {
    text-align: center;
}

.download {
    background: #71B238;
}

.button {
    border-radius: 0.2em;
    box-shadow: 1px 1px 5px #000000, 0 1px 0.5em #6A8347 inset, 1px 1px 1px #FEFCD7 inset;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    padding: 0.5em 1em 0.3em;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}
